
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f5;
    color: #000;
}


.header {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header .logo {
    font-size: 20px;
    font-weight: bold;
}

.header .nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}


.main-content {
    text-align: center;
    margin: 50px auto;
}

.status-badge {
    display: inline-block;
    background-color: #ddd;
    color: #666;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.date {
    font-size: 20px;
    margin-bottom: 10px;
}

.time {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.action-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #444;
}